<!--Quizz component page-->
<div class="page">
    <h2>Quizz Maker</h2>
    <!--Create quizz form-->
    <form [formGroup]="quizzForm">
        <div class="form-line">
            <!--Category dropdown-->
            <app-quizz-select
                [selectId]="'categorySelect'"
                [name]="'categorySelect'"
                [options]="categoryOptions"
                [defaultOption]="defaultCategoryOption"
                [formControl]="category"
            ></app-quizz-select>
            <!--Difficulty dropdown-->
            <app-quizz-select
                [selectId]="'difficultySelect'"
                [name]="'difficultySelect'"
                [options]="difficultyOptions"
                [defaultOption]="defaultDifficultyOption"
                [formControl]="difficulty"
            ></app-quizz-select>
        </div>
        <button id="createBtn" class="submit-btn create-btn" (click)="createQuizz()">Create</button>
    </form>
</div>

<!--Quizz-->
<div *ngIf="hasQuizz" class="questions-block">
    <app-quizz-question
        #question
        *ngFor="let question of questions"
        [question]="question"
        (selectionChange)="onSelectionChange($event)"
    ></app-quizz-question>
    <div class="submit-btn"><button (click)="navigateToQuizzResults()" [ngClass]="{hidden: canSubmit()}">Submit</button></div>
</div>
